
.hero {
    background-image: url(../images/banner/banner.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    font-size: 2rem;
    text-align: center;
    padding: 30px 0;
}

.hero__description {
    padding: 20px;
}

.hero__heading {
    color: #fff;
    font-size: 2rem;
    padding: 20px 0 10px 0;
    font-weight: 300;
}

.hero__subheading {
    color: #fff;
    padding-bottom: 30px;
    font-size: 1.5rem;
}

.hero__picture img {
    display: block;
    margin: 50px auto 0;
}

.widgets__section {
    padding: 40px 10px;
}


.widgets__subheadings {
    font-size: 1.25rem;
    text-align: center;
    font-weight: 100;
    padding: 40px 80px;
    display: flex;
    justify-content: center;
}

.features__section {
    padding: 40px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.features__description {
    flex-basis: 50%;
}


.features__text {
    font-size: 1.1rem;
    padding-bottom: 30px;
}

.price__section {
    padding: 30px 80px;
}

.price__box--flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.price__subheading {
    text-align: center;
    font-size: 1.1rem;
}

.price__box {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    transition: all 0.5s ease-in-out;
}

.price__box:hover {
    box-shadow: rgba(50, 50, 93, 0.507) 0px 30px 60px -12px, rgba(0, 0, 0, 0.556) 0px 18px 36px -18px;
    transform: scale(1.2);
    z-index: 1;
    transition: all 0.5s ease-in-out;
}

.price__box_heading {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    font-size: 1.2rem;
}

.price__box_heading--1 {
    background-color: #e9f4fe;
    padding: 20px;
}

.price__box_heading--2 {
    background-color: #fef4ee;
    padding: 20px;
}

.price__box_heading--3 {
    background-color: #e8fcf1;
    padding: 20px;
}

.price__button {
    border: 1px solid #0181f5;
    color: #0181f5;
    border-radius: 5px;
    width: 150px;
}

.price__button:hover {
    border: 2px solid #0181f5;
}

.price__box_content {
    text-align: center;
    line-height: 2.5rem;
    padding: 20px;
    font-size: 1rem;
}

.buy__images_box img {
    margin: 10px;
}

.footer__section {
    background-color: #1f1f1f;
    color: #fff;
    padding: 30px 80px;
}

.footer__heading {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 20px 0 30px 0;
}

.footer__subheading {
    color: #8d8d8c;
}

.footer_heading--medium {
    font-size: 1.5rem;
    padding: 20px 0;
}

.footer__link {
    font-size: 1rem;
    padding: 10px 0;
    color: #8d8d8c;
}

.footer__link:first-child {
    font-size: 1rem;
    padding: 30px 0 0;
    color: #8d8d8c;
}

.footer__box_side {
    display: flex;
    justify-content: space-between;
}

.footer__box-side--column {
    flex-basis: 45%;
}

.button__download {
    display: none;
}